# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environment
venv/
.env

# Django migrations (faqat compiled fayllar)
**/migrations/__pycache__/
**/migrations/*.pyc

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
